body{
	padding: 0px;
	margin: 0px;
	background: #eeeeee;
}

body *{
	font-family: Arial;
	font-size: 16px;
	line-height: 24px;
	word-wrap: break-word;
}

.table{
	display: table;
	width: 100%;
}

.table-cell{
	display: table-cell;
	padding: 16px;
	width: 50%;
}

.table-cell:nth-child(2){
	width: 50%;
}

@media screen and (max-width:45em){
	
	.table,	.table-cell{
		display: block;
		width: auto;
	}
	
}


h1{
	font-size: 24px;
	line-height: 36px;
	text-align: center;
}

.main{
	width: 80%;
	background: #FFFFFF;
	padding: 4px 8px;
	border-radius: 4px;
	margin: 16px auto;
	max-width: 1024px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.2);
}


label{
	width: 92%;
	display: block;
	color: #111111; 
	font-weight: bold;
	margin: 16px 0px 8px 0px;
	text-transform: uppercase;
}

input[type="text"], select{
	width: 90%;
	display: block;
	color:#000000;
	padding: 8px 4px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	margin-bottom: 16px;
}

select{
	width: 92%;
}

input[type="submit"]{
	transition: ease 1s background;
	display: block;
	font-weight: bold;
	padding: 8px 16px;
	margin: 16px 0px 24px 0px;
	background: #90a2ed;
	border: 1px solid #1e2855;
	color: #1e2855;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover{
	background: #cdd5f8;
}